body {
    background: url(../images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    

    // Green Lightning
    // background-color: green;
    // background-blend-mode: lighten;

    // Fun Mode!
    // background: 
    //     linear-gradient( rgb(77, 107, 189) 0%, red 90%), 
    //     linear-gradient(to right, rgb(77, 107, 189) 0%, yellow 90%), 
    //     url('../images/bg.jpg') 20px,
    //     url('../images/bg.jpg') 20px;
    // background-blend-mode: screen, difference, lighten;
}
$red: #fff;
$blue: #4ad9db;
$green: #4ad9db;
$orange: #000;

$darkblue: #000;
$darkred: #fff;
$purple:#fff;

$outline: 0;

#homepageContent{
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 4vw;
    text-align: left;
    line-height: 1;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: $red;
    text-shadow: 
            -1px -1px 0 $purple, 1px -1px 0 $purple, -1px 1px 0 $purple, 1px 1px 0 $purple, 
            1px 0px 0px $green, 0px 1px 0px $green, 2px 1px 0px $green, 1px 2px 0px $green, 3px 2px 0px $green, 2px 3px 0px $green, 4px 3px 0px $green, 3px 4px 0px $green, 5px 4px 0px $green,
            3px 5px 0px $purple, 6px 5px 0px $purple, 
            -1px 2px 0 black, 0 3px 0 $purple, 1px 4px 0 $purple, 2px 5px 0px $purple;
}

.navText {
    // float:right;
    margin-left:1rem;
}

#svgBloks{
    position: fixed;
    height: 100vh;
    width: 100vw;
    // background: linear-gradient(to left, white, transparent 90%);
    z-index:-1
}

#videoContainer{
    position: absolute;
    right: 8px;
    bottom: 0;
}

.volleyballVideoContainer
{
    text-align: center;
    margin: 40px auto 0 auto;
}



.contentContainer{
    background-color:white;
    border-radius:24px;
    color:grey;
    padding:24px

}